@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
  }
 /*header section*/

.logo{
    width: 50%;
    float: left;
    margin: 30px 0;
  }
.menu{
   width: 50%;
    float: right;
    margin: 30px 0;
}
nav ul{
    list-style: none;

}
nav ul li{
    display: inline-block;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: 0.4s ease-in-out;
}
.icon{
    width: 40px;
    float: left;
}
.icon ul{
    list-style: none;
}
.icon ul li{
    display: inline-block;
}
.icon ul li a{
    background: blue;
    margin: 20px 0px;
}
/*banner Section*/
.Banner{
    background:url(../img/banner.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
    padding: 20px 0px;

}
.banner-main{
width: 60%;
margin: 0 auto;
text-align: center;
padding-top: 180px;
}
.banner-main h2{
    color: white;
    font-size: 120px;

}
.banner-main span{
    display: block;
    border-bottom: 2px solid #15a4fa;
    width: 80%;
    margin: 10px auto;

}
.banner-main p{
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
}
.banner-btn{
    border: 1px solid #15a4fa;
    padding: 12px 32px;
    background: transparent;
    color: white;
    font-size: 18px;
}
.banner-icon{
    color: white;
}
/*blog section*/
.blog{
    background: #F6F9F9;
    width: 100%;
    float: left;
    padding: 20px 0px;
    margin: 0 auto;
    text-align: center;
}
/*service section*/
.service{
    width: 100%;
    float: left;
    padding: 20px 0px;
}
.service-one{
    width: 33.33%;
    float: left;
    text-align: center;

}
.service-icon{
    background: #5FC3FF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: white;
    margin: 0 auto;
}
/*gellery section*/
.gallery{
    width: 100%;
    float: left;
    padding: 20px 0px;
    background: cyan;
}
.heading{
    text-align: center;
}
.gellery-0ne{
    text-align: center; 
}
.gellery-two{
    text-align: center; 
}
/*Register Section*/
.container{
    width: 100%;
    float: left;
    padding: 20px 0px;
}
.login-section{
	background-color: #ade6e121;
	padding: 20px;
    text-align: center;
}
.login-section h1{
	text-align: center;
	color: white blanchedalmond;
	margin: 10px 0px;
}
.form-control{
	background: transparent;
	font-size: 20px;
	width: 50%;
	height: 20%;
	padding: 15px;
	margin-bottom: 35px;
  
}
.submit-btn{
	background: transparent;
	color: blue;
	padding: 15px;
	font-size: 20px;
	margin: 0 auto;
	display: block;
}
/*footer section*/
.footer-text{
    float: left;
}
.footer-icons{
    float: right;
}
.footer-icons ul li{
    display: inline-block;
    padding: 15px;
}
